*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 50px;

}




div{
    width: 30%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9FBE7;
    text-align: center;
  
}



.campo{
    width: 85%;
    margin: 20px;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    border-color: rgba(180, 180, 180, 0.6);
    
    
}

.campo-error{
    border-color: red;
    border-width: 1px solid;

}

#terminos{
    margin: 20px;
}

#registro{
    width: 85%;
    height: 45px;
    border-radius: 5px;
    margin: 20px;
    background-color: #dd5035;
    color: white;
    border-color: rgba(180, 180, 180, 0.6);
    cursor: pointer;
}